/* body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.container-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar{
  background: #151414;
  align-items: center;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
}

nav ul li{
  padding: 10px;
  list-style: none;
  display: inline;
}

nav ul li a{
  color: #ffffff;
  text-decoration: none;
}

main{
  width: 100%;
  height: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://devaln.github.io/Portfolio/assets/images/coding2.jpeg);
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.profile-img{
  width: 20%;
  height: 5%;
  top: 50%;
  left: 50%;
  border: 5px solid greenyellow;
  animation: glow 0.5s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px greenyellow;
  }
  to {
    box-shadow: 0 0 10px 5px greenyellow;
  }
}

.text-center{
  text-align: center;
}

.my-5{
  margin-top: 5%;
  margin-bottom: 5%;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

#home {
  text-align: left;
  padding-left: 50%;
} */



body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
}

header {
  background-color: #f1f1f1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 2em;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: black;
}

section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://devaln.github.io/Portfolio/assets/images/coding2.jpeg);
  /* filter: blur(50%); */
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
}

.name {
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-left: 60%;
}

.desc {
  margin-bottom: 20px;
  margin-left: 60%;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-left: 60%;
}

.buttons a {
  padding: 10px 20px;
  background-color: #0095ff;
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.buttons a:last-child {
  margin-right: 0;
}

.social {
  margin-left: 60%;
  text-align: center;
  margin-top: 20px;
}

.social a {
  margin-right: 10px;
  font-size: 1.5em;
}

.contact {
  padding: 40px;
}

.contact h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.contact p {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form label {
  margin-bottom: 5px;
}

form input,
form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

form button {
  padding: 10px 20px;
  background-color: #0095ff;
  color: white;
  text-decoration: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 15px;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__content {
  padding: 15px;
}


@media screen and (min-width: 80rem) {
  .container {
    margin: 1em 2em;
  }
}

@media (max-width: 600px) {
  .card {
    width: 100%;
    margin: 10px 0;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .card {
    width: 48%;
    margin: 1%;
  }
}



#contact {
  width: 100%;
  height: 100%;
  padding-top: 3%;
  padding-bottom: 0px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control,
textarea {
  max-width: 400px;
  background: transparent;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #000000;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255, 255, 255, .6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }

  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }

  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }

  .form-control,
  textarea {

    margin: 0 auto;
  }


  .name,
  .email,
  textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }

  .social-media-list {
    left: 0;
  }

  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }

  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }

}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

